#container {
	margin:30px auto;
	width:720px;
	height:720px;
	border:solid black 1px;
}

.pixel {
	/*border: solid black 1px; //////TESTING ONLY, WILL OBSCURE PIXEL SIZE*/
	width:45px;
	height:45px;
	display:inline-block;
	float:left;
}
.painted {
	/*border: solid black 1px; //////TESTING ONLY, WILL OBSCURE PIXEL SIZE*/
	width:45px;
	height:45px;
	display:inline-block;
	float:left;
}

#buttons{
	border: 1px solid black;
	margin:20px auto;
	text-align: center;
}